services:
  regression:
    
    build:
      context: .
      dockerfile: Dockerfile

    # Configuration for playwright:
    init: true
    ipc: host

    volumes:
      - ./:/usr/workspace
    
    command: ["/bin/sh", "-c", "ls -la && pytest --alluredir=../allure-results"]
  
    working_dir: /usr/workspace

    environment:
      - PYTHONPATH=/usr/workspace:${PYTHONPATH}
      - LOGIN=${LOGIN}
      - PASSWORD=${PASSWORD}